/**
 * Slider 
 * Start for RB
 */
.owac-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.owac-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.owac-list:focus{
    outline: none;
}
.owac-list.dragging{
    cursor: pointer;
    cursor: hand;
}
.owac-slider .owac-track,
.owac-slider .owac-list{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.owac-track{
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.owac-track:before,
.owac-track:after{
    display: table;
    content: '';
}
.owac-track:after{
    clear: both;
}
.owac-loading .owac-track{
    visibility: hidden;
}
.owac-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .owac-slide{
    float: right;
}
.owac-slide img{
    display: block;
}
.owac-slide.owac-loading img{
    display: none;
}
.owac-slide.dragging img{
    pointer-events: none;
}
.owac-initialized .owac-slide{
    display: block;
}
.owac-loading .owac-slide{
    visibility: hidden;
}
.owac-vertical .owac-slide{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.owac-arrow.owac-hidden {
    display: none;
}